<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Welcome to CenRail</title>
</head>
<body>
	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>
	
	<div class="container-small">
		<div class="form-box">
			<div class="form-title">Welcome to Cenrail</div>
			<a href="/login"><button class="form-button">Log in</button></a><br>
			<a href="/register"><button class="form-button">Register</button></a><br>
		</div>
	</div>

</body>
</html>