<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Insert title here</title>
</head>
<body>
	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>
	
	<div class="form-container">
		<div class="form-box">
			<div class="form-title">How may we help you?</div>
			<a href="/login"><button>Log in</button></a><br>
			<a href="/register"><button>Register</button></a><br>
		</div>
	</div>

</body>
</html>