<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Login</title>
</head>
<body>
	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>

	<div class="container-small">
		<div class="form-box">
			<div class="form-title">Login</div>
			<form class='login-form' action="login" method="post">
				<input type='text' placeholder='email' name="email" />
				<input type="password" placeholder='password' name="password" />
				<button class="form-button" type="submit">Login</button>
				<div class="errorMessage-login" th:text="${errorMsg}"></div>
			</form>
		</div>
		<!-- Register Link -->
		<div class="register-link">
			<a href="/register">Don's have an account? Register Here</a>
		</div>
	</div>
	
</body>
</html>