<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>DashBoard</title>
</head>
<body>

	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>	

	<div class="form-container">
		<div class="form-box">
			<div class="form-title">How can we help you?</div>
			
				<a th:href="@{/{userId}/plan-trip(userId=${userId})}"><button class="form-button">Plan Your Trip</button></a> <br>
				<a th:href="@{/{userId}/ticket/(userId=${userId})}"><button class="form-button">View Tickets</button></a>
				<a th:href="@{/{userId}/update-profile(userId=${userId})}"><button class="form-button">Update Profile</button></a>

		</div>
	</div>


</body>
</html>