<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Plan Your Trip</title>
</head>

<body>

	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>

	<div class="form-container">
		<div class="form-box">
			<div class="form-title">Plan Your Trip</div>

			<!-- Train Not Selected -->
			<div th:if="${trainCode == null}">
				<form th:action="@{/{userId}/plan-trip-detail(userId=${userId})}" th:object="${journey}" method="post">
					<label class="form-label">Departure</label>
					<input type="text" th:field="*{departureStn}" name="departureStn" th:value="${departureStn}" readonly>

					<label class="form-label">Arrival</label>
					<input type="text" th:field="*{arrivalStn}" name="arrivalStn" th:value="${arrivalStn}" readonly>

					<label class="form-label">Date</label>
					<input type="text" th:field="*{departureDate}" name="departureDate" th:value="${departureDate}" readonly>

					<label class="form-label">Train</label>
					<select name="trainCode">
						<option th:each="train: ${trainList}" th:value="${train}" th:text="${train} + ' (' + ${trainSchedule.getDepartureTime(train, journey.getDepartureStn())} + ')'"></option>
					</select>

					<button class="form-button" type="reset">Reset</button>
					<button class="form-button" type="submit">Get Ticket</button>

				</form>
			</div>

			<!-- Train Selected -->
			<div th:unless="${trainCode == null}">
				<form th:action="@{/{userId}/plan-trip-summary(userId=${userId})}" th:object="${journey}" method="post">
					
					<label class="form-label">TrainCode</label>
					<input type="text" th:field="*{trainCode}" name="trainCode" th:value="${trainCode}" readonly>

					<!-- Departure Station, Arrival Station -->
					<label class="form-label">Departure</label>
					<input type="text" th:field="*{departureStn}" name="departureStn" th:value="${departureStn}" readonly>
					
					<label class="form-label">Arrival</label>
					<input type="text" th:field="*{arrivalStn}" name="arrivalStn" th:value="${arrivalStn}" readonly>
					
					<!-- Date and Time  -->
					<input type="text" th:field="*{departureDate}" name="departureDate" hidden>
					<label class="form-label">Date</label>
					<input type="text" th:value="${journey.getDepartureDate()} + ' ' + ${trainSchedule.getDepartureTime(trainCode, journey.getDepartureStn())}" readonly>


					<!-- Additional Detail: Seat Class, Berth -->
					<label class="form-label">SeatClass</label>
					<select name="seatClass">
						<option value="Economy" th:text="Economy"></option>
						<option value="Sleeper-Plus" th:text="Sleeper-Plus"></option>
						<option value="Prestige" th:text="Prestige"></option>
					</select>


					<!-- Additional Passenger (Adult) -->
					<select name="extraSeat">
						<option value=0>Additional Passengers</option>
						<option value=0>None</option>
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=6>6</option>
						<option value=7>7</option>
					</select>

					<!-- Additional Passenger (Children and Elders)-->
					<select name="extraDiscountedSeat">
						<option value=0>Discounted Passengers</option>
						<option value=0>None</option>
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=6>6</option>
						<option value=7>7</option>
					</select>

					<button class="form-button" type="submit">Get Ticket</button>
					<button class="form-button-cancel" type="reset">Reset</button>
					<a th:href="@{/{userId}(userId = ${userId})}"><button class="form-button-cancel">Cancel</button></a>

				</form>
			</div>
		</div>
	</div>
</body>

</html>