<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Plan Your Trip</title>
</head>

<body>

	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>

	<div class="form-container">
		<div class="form-box">
			<div class="form-title">Play Your Trip</div>

			<form th:action="@{/{userId}/plan-trip(userId=${userId})}" th:object="${journey}" method="post">
				<label class="form-label">Departure</label>
				<select th:field="*{departureStn}" name="departureStn">
					<option th:value="Toronto" th:text="Toronto"></option>
					<option th:value="Winnipeg" th:text="Winnipeg"></option>
					<option th:value="Saskatoon" th:text="Saskatoon"></option>
					<option th:value="Edmonton" th:text="Edmonton"></option>
					<option th:value="Jasper" th:text="Jasper"></option>
					<option th:value="Vancouver" th:text="Vancouver"></option>
				</select>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('departureStn')}" th:errors="*{departureStn}"></div>

				<label class="form-label">Arrival</label>
				<select th:field="*{arrivalStn}" name="arrivalStn">
					<option th:value="Vancouver" th:text="'Arrival: Vancouver'" selected></option>
					<option th:value="Jasper" th:text="'Arrival: Jasper'"></option>
					<option th:value="Edmonton" th:text="'Arrival: Edmonton'"></option>
					<option th:value="Saskatoon" th:text="'Arrival: Saskatoon'"></option>
					<option th:value="Winnipeg" th:text="'Arrival: Winnipeg'"></option>
					<option th:value="Toronto" th:text="'Arrival: Toronto'"></option>
				</select> <br>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('arrivalStn')}" th:errors="*{arrivalStn}"></div>

				<input type="date" th:field="*{departureDate}" name="departureDate">
				<div class="errorMessage-form" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></div>

				<button type="submit">Plan Your Trip</button>
			</form>
		</div>
	</div>
</body>

</html>