<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Register</title>
</head>
<body>

	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>

	<div class="container-small">
		<div class="form-box">
			<div class="form-title">Register Page</div>
			<form class='login-form' th:action="@{/register}" th:object="${passenger}" method="post">

				<input type='text' th:field="*{email}" placeholder='Email' name="email" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

				<input type="password" th:field=*{password} placeholder='Password' name="password" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

				<input type="text" th:field=*{firstname} placeholder='FirstName' name="firstname" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>

				<input type="text" th:field=*{lastname} placeholder='LastName' name="lastname" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>

				<!-- Gender -->
				<div class="form-label">Gender</div>
				<select th:field=*{gender}>
					<option value="" th:text="Gender"></option>
					<option value="Male" th:text="Male"></option>
					<option value="Female" th:text="Female"></option>
					<option value="X" th:text="X"></option>				
				</select>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>

				<div class="form-label">Age</div>
				<input type="number" th:field=*{age} name="age" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

				<input type="text" th:field=*{phone} placeholder='Phone (111-222-3333)' name="phone" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

				<input type="text" th:field=*{street} placeholder='StreetAddress' name="street" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>

				<input type="text" th:field=*{city} placeholder='City' name="city" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

				<!-- Province -->
				<div class="form-label">Province</div>
				<select th:field=*{province}>
					<option value="" th:text="Province"></option>
					<option value="AB" th:text="Alberta"></option>
					<option value="BC" th:text="'British Columbia'"></option>
					<option value="MB" th:text="Manitoba"></option>
					<option value="NB" th:text="'New Brunswick'"></option>
					<option value="NL" th:text="'Newfoundland and Labrador'"></option>
					<option value="NT" th:text="'Northwest Territories'"></option>
					<option value="NS" th:text="'Nova Scotia'"></option>
					<option value="NU" th:text="Nunavut"></option>
					<option value="ON" th:text="Ontario"></option>
					<option value="PE" th:text="'Prince Edward Island'"></option>
					<option value="QC" th:text="Quebec"></option>
					<option value="SK" th:text="Saskatchewan"></option>					
					<option value="YT" th:text="Yukon"></option>
				</select>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></div>				

				<input type="text" th:field=*{postal} placeholder='PostalCode' name="postal" />
				<div class="errorMessage-form" th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}"></div>

				<button class="form-button" type="submit">Register</button>
			</form>
			<a th:href="@{/}"><button class="form-button-cancel">Cancel</button></a>
		</div>
	</div>
</body>
</html>