<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>	

	<div class="form-container">
		<div class="form-box">
			<div class="form-title">Pay Your Tikcet</div>
			
			<form th:action="@{/{userId}/ticket/{ticketId}/payticket(userId=${userId}, ticketId=${ticketId})}" method="post">
				<div class="result-fare" th:text="'$ '+ ${ticket.getTotalFareCurrencyFormat()}" ></div>		

				<input type="text" name="creditCardNumber" placeholder="Credit Card Number" maxlength="16" required>
				<div class="errorMessage-form" th:text="${errorMsgCredit}"></div>

				<input type="text" name="holderName" placeholder="Holder Name" required>
				<div class="errorMessage-form" th:text="${errorMsgName}"></div>

				<input type="text" name="validBefore" placeholder="Valid Before (YYMM)" maxlength="4" required>
				<div class="errorMessage-form" th:text="${errorMsgValidBefore}" ></div>
	
				<button class="form-button" onClick="submit">Pay Ticket</button>
			</form>

		</div>
   </div>
</body>
</html>