<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>

	<div class="header">
		<div class="header-title">Welcome to CenRail</div>
	</div>

	<div class="form-container">
		<div class="form-box">
			<div class="form-title">Ticket Detail</div>
			
			<p th:text="${ticket}"></p>
			
			
			<a th:href="@{/{userId}/ticket/{ticketId}/payticket(userId=${userId}, ticketId=${ticket.getTicketId()})}"><button>Pay Ticket</button></a>		
			<a th:href="@{/{userId}/ticket/(userId=${userId})}"><button>Back to List</button></a>

		</div>
	</div>

</body>
</html>