<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styles.css">
<title>Insert title here</title>
</head>
<body>
	<div class="form-container">
		<div class="form-box">
			<div class="form-title">Update Your Profile</div>
			<form class='login-form' th:action="@{/{userId}/update-profile(userId = ${userId})}" th:object="${passenger}" method="post">

				<input type='text' th:field="*{email}" placeholder='Email' name="email" readonly/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

				<input type="text" th:field=*{firstname} placeholder='FirstName' name="firstname" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>

				<input type="text" th:field=*{lastname} placeholder='LastName' name="lastname" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>

				<!-- Gender -->
				<div class="form-label">Gender</div>
				<select th:field=*{gender}>
					<option value="" th:text="Gender"></option>
					<option value="Male" th:text="Male"></option>
					<option value="Female" th:text="Female"></option>
					<option value="X" th:text="X"></option>				
				</select>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>

				<div class="form-label">Age</div>
				<input type="number" th:field=*{age} name="age" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

				<input type="text" th:field=*{phone} placeholder='Phone - ex)111-222-3333' name="phone" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

				<input type="text" th:field=*{street} placeholder='StreetAddress' name="street" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>

				<input type="text" th:field=*{city} placeholder='City' name="city" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

				<!-- Province -->
				<div class="form-label">Province</div>
				<select th:field=*{province}>
					<option value="" th:text="Province"></option>
					<option value="AB" th:text="Alberta"></option>
					<option value="BC" th:text="'British Columbia'"></option>
					<option value="MB" th:text="Manitoba"></option>
					<option value="NB" th:text="'New Brunswick'"></option>
					<option value="NL" th:text="'Newfoundland and Labrador'"></option>
					<option value="NT" th:text="'Northwest Territories'"></option>
					<option value="NS" th:text="'Nova Scotia'"></option>
					<option value="NU" th:text="Nunavut"></option>
					<option value="ON" th:text="Ontario"></option>
					<option value="PE" th:text="'Prince Edward Island'"></option>
					<option value="QC" th:text="Quebec"></option>
					<option value="SK" th:text="Saskatchewan"></option>					
					<option value="YT" th:text="Yukon"></option>
				</select>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></div>				

				<input type="text" th:field=*{postal} placeholder='PostalCode' name="postal" required/>
				<div class="errorMessage-form" th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}"></div>

				<button class=form-button type="submit">Update Profile</button>

				<a th:href="@{/{userId}(userId = ${userId})}"><button class="form-button-cancel">Cancel Update</button></a>
			</form>
		</div>
	</div>
	<!-- 	<form action="#" th:action="@{/add}" th:object="${department}" method="post">

    <label for="deptname">Department Name</label>

    <input type="text" th:field="*{deptname}" id="deptname" placeholder="Department Name">

    <span th:if="${#fields.hasErrors('deptname')}" th:errors="*{deptname}"></span>

    </br>
</body> -->
</html>